.app {
  .title {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;

    .options {
      display: flex;
      flex-direction: column;
      width: 300px;

      .booleans {
        .element {
          position: relative;

          &::before {
            position: absolute;
            right: 0;
            content: "";
            width: 10px;
            height: 10px;
            border: 1px solid white;
            border-radius: 50%;
          }
        }

        .active {
          &::before {
            content: "â—";
            color: white;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .length {
        display: flex;
        justify-content: space-between;
        height: 20px;

        > .label {
          margin: 0;
        }

        > .input {
          width: 60px;

          &::placeholder {
            padding: 0 2px 0;
          }
        }
      }
    }

    .password {
      padding: 50px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      > .label {
        font-size: 28px;
      }

      .generateBtn {
        padding: 10px 15px;
        outline: none;
        background: rgb(255, 218, 5);
        border: 1px solid black;
        border-radius: 5px;
        color: rgb(21, 21, 21);
        cursor: pointer;
        transition: 0.2 background;
        margin: 10px 0 0;

        &:hover {
          background: rgb(225, 191, 0);
        }
      }

      .box {
        margin: 25px 0 0;
        width: 300px;
        height: 50px;
        background: #ddd;
        border: 1px solid white;
        border-radius: 10px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
      }
    }
  }
}
